.imag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text, .image {
    width: 50%;
}
.text p span{
color:green;
}

h1 {
    background-color: rgb(225, 200, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.text {
    color: rgb(13, 11, 11);
    background-color: rgb(232, 238, 246);
    margin-right: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.footer-bottom {
    margin-left: 40rem;
}

@media screen and (max-width: 1200px) {
    .text, .image {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .imag {
        flex-direction: column;
    }

    .text, .image {
        width: 100%;

    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: x-large;
    }

    .text, .image {
        width: 100%;
    }
}

/* Image specific breakpoints */
@media screen and (max-width: 768px) {
    .image {
        margin-bottom: 20px; /* Add space between image and text */
    }
}