@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Default styles */
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.con {
    background-color: rgba(232, 94, 94, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.nav-link:hover,
a.ex5:active {
    text-decoration: underline;
    font-size: medium;
}

small {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand {
    padding-left: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
}

.d-flex {
    padding-right: 1rem;
}

.nav-item {
    padding-left: 2rem;
}

.bott {
    padding-left: 2ch;
    margin: 0%;
}

.bi {
    color: black;
    width: 2rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: rem;
}

.dropdrown {
    margin-bottom: 1rem;
}

.navbar-nav .nav-link i {
    font-size: 20px;
    color: black;
}

.navbar {
    color: black;
}

.nav-link {
    color: black;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container {
    background-color: hsl(14, 100%, 95%);
}
.admin{

}

/* Media queries for breakpoints */
@media (max-width: 991.98px) {
    /* Styles for medium screens */
    .navbar-brand {
        padding-left: 4rem;
    }

    .nav-item {
        padding-left: 1rem;
    }
}

@media (max-width: 767.98px) {
    /* Styles for small screens */
    .navbar-brand {
        padding-left: 2rem;
    }

    .nav-item {
        padding-left: 0.5rem;
    }
}
