<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <h1 class="text-center mt-5 mb-5">About</h1>
    <div class="imag mb-5">
        <div class="image">
            <img src="images/WhatsApp_Image_2024-04-03_at_14.05.08_a2b07f29-removebg-preview.png" class="img-fluid" alt="Left side image">
        </div>
        <div class="text">

            <p>Welcome to Art Gallery, your premier destination for art enthusiasts and administrators alike. Our platform is designed to provide a seamless experience for users to explore, purchase, and manage artworks, while offering robust tools for administrators to curate, update, and oversee the gallery's inventory.</p>
              <h2>For Users</h2>
            <p>Discover a curated selection of captivating artworks and easily add them to your cart for purchase. Our user-friendly interface ensures a hassle-free browsing and shopping experience. Register today to unlock exclusive features and stay updated on the latest additions to our collection.</p>
              <h2>For Admins</h2>
            <p>Take control of your art gallery with our comprehensive admin dashboard. Add new products, edit existing listings, and manage inventory effortlessly. Our intuitive tools empower you to create a dynamic and engaging platform for art enthusiasts, while ensuring seamless backend management.</p>
            <h2>Get in Touch</h2>
            <p>
                Have questions or feedback? We'd love to hear from you! Contact our support team <span>support@artgallery.com</span> for assistance or connect with us on <span>artgaller</span> to stay connected and updated.
            </p>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
