<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/log.css}">
</head>
<body>
<div class="login-wrap">
    <div class="login-html">
        <h2>Forgot Password</h2>
        <br>
        <div class="login-form">
            <div class="sign-in-htm">
                <form th:action="@{/reset-password}" th:object="${passwordResetRequest}" method="post">
                <div class="group">
                        <label for="email" class="label">Email</label>
                        <input id="email" type="email" class="input" name="email" required>
                    </div>
                    <div class="group">
                        <label for="newPassword" class="label">New Password</label>
                        <input id="newPassword" type="password" class="input" data-type="newPassword" name="newPassword" required>
                    </div>
                    <div class="group">
                        <label for="confirmPassword" class="label">Confirm New Password</label>
                        <input id="confirmPassword" type="password" class="input" data-type="confirmPassword" name="confirmPassword" required>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="signupbtn">Submit</button>
                    </div>
        </div>
    </div>
    </div>
    <div th:if="${error}" th:text="${error}"></div>

</form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
